.activity-item {
  padding: 4px 0;
}

.activity-item a {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.activity-item a img {
  padding-right: 8px;
}

@media (min-width: 750px) {
  .activity-item a {
    font-size: 22px;
  }
}
