.landing-courses {
  margin: 24px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing-courses img {
  width: 100%;
  align-self: center;
}

.landing-courses h3 {
  text-align: center;
}

.odd img {
  order: 2;
}

.odd h3 {
  order: 1;
}

@media (min-width: 750px) {
  .landing-courses {
    max-width: 700px;
    margin: 24px auto 48px auto;
  }
  .landing-courses h3 {
    align-self: center;
  }
}
