.landing-courses {
  margin: 24px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing-courses img {
  width: 100%;
  align-self: center;
}

.landing-courses h3 {
  text-align: center;
}

.odd img {
  order: 2;
}

.odd h3 {
  order: 1;
}
