.hero {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.trophy {
  display: block;
  width: 90%;
  margin: 16px;
}

.landing-hero h1 {
  position: absolute;
  top: 150px;
  left: 8px;
  width: 40%;
  text-align: center;
}

.landing-hero h2,
.landing-hero h3 {
  text-align: center;
  margin: 0 16px;
}

.landing-hero h2 {
  padding-top: 48px;
}

.landing-hero h3 {
  padding-top: 8px;
}
