.pri {
  height: 50px;
  width: 300px;
  background-color: #f8a163;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  letter-spacing: 2.3%;
  line-height: 150%;
}

.sec {
  height: 50px;
  width: 250px;
  background-color: #b1bd8e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  letter-spacing: 2.3%;
  line-height: 150%;
  color: black;
  text-decoration: none;
}

@media (min-width: 750px) {
  .pri {
    height: 60px;
    width: 500px;
  }
  .sec {
    height: 60px;
    width: 450px;
  }
}
