.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 48px 16px 16px 16px;
}

.error h2 {
  text-align: center;
}

.error img {
  width: 100%;
}

@media (min-width: 720px) {
  .error img {
    width: 600px;
  }
}
