.login {
  padding: 16px;
}

.login h2 {
  padding-bottom: 24px;
  text-align: center;
}

.login h3 {
  padding-bottom: 16px;
  text-align: center;
}

.login form {
  padding-bottom: 24px;
}

.login p {
  text-align: center;
}

.login .secundary {
  text-decoration: none;
  color: black;
}

.login .primary {
  margin-top: 16px;
}

.login .last {
  padding-top: 24px;
}
