.reset-password {
  padding: 16px;
}

.reset-password h2 {
  padding-bottom: 24px;
  text-align: center;
}

.reset-password h3 {
  padding-bottom: 16px;
  text-align: center;
}

.reset-password form {
  padding-bottom: 24px;
}

.reset-password p {
  text-align: center;
}

.reset-password .secundary {
  text-decoration: none;
  color: black;
}

.reset-password .primary {
  margin-bottom: 16px;
}

.reset-password .last {
  padding-top: 24px;
}
