.student-course {
  padding: 16px;
}

.student-course h2 {
  padding-bottom: 24px;
  text-align: center;
}

.description {
  text-align: justify;
  padding-bottom: 48px;
}

.student-course h3 {
  padding-bottom: 16px;
  text-align: center;
}
