.teacher-dashboard {
  padding: 16px;
}

.teacher-dashboard h2 {
  padding-bottom: 24px;
  text-align: center;
}

.teacher-dashboard h3 {
  padding-bottom: 16px;
  text-align: center;
}

.teacher-dashboard-card {
  padding: 48px 0;
}
