@font-face {
  font-family: "Handlee";
  src: local("Handlee"),
    url(../../assets/fonts/Handlee-Regular.ttf) format("truetype");
  font-weight: normal;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 32px;
  letter-spacing: 3.3%;
  line-height: 120%;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 2.3%;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
p {
  font-size: 20px;
  letter-spacing: 2.3%;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
.label {
  font-size: 20px;
  letter-spacing: 2.3%;
  line-height: 150%;
}
small {
  font-size: 16px;
  letter-spacing: 2.3%;
  margin: 0;
  padding: 0;
}

@media (min-width: 750px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 22px;
  }
  .label {
    font-size: 22px;
  }
  small {
    font-size: 19px;
  }
}
